/* .custom-badge .mat-badge-context {
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
} */


.custom-badge .mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
    color: black
}

.active-link {
    text-decoration: underline;
    text-underline-offset: 6px;
}